<% include partials/header %>
<div class="container-fluid" style="padding-left:10px">
<h1>Search For a Movie</h1>	
<form action="/results" method="GET">
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>

<% include partials/footer %>
</div>
<div class="row" style="display:flex; flex-wrap: wrap; align-content: center; padding-left:50px">
	<img src="https://cdn.midjourney.com/e65a0ebf-4d58-4d1c-a200-639a0520966e/0_0.png" alt="Featured movie artwork" style="height:300px; width:auto;">
</div>
